

/* navigation bar   */
html,
body {
    height: 100%;
    /*overflow: hidden;*/ 
   padding-top: 70px;
   background: #e9ebee;

   /* background-image: url("../img/home2.jpg"); 
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
*/


}




.content{
    margin: 3px;
    margin-top:10px;
}

.profile-img{
   margin-top: 20px;
   transform: translateX(-20em);
}

.question-div{
    width:700px;
    margin: 40px;
  
}

.question-item{
    width: 100%;
    height: :400px;
    padding:20px;
    margin-left: 27%;
    text-align: center;
    background: white;
    box-shadow: 4px 4px 3px grey;

}

.question{
    top: 15px;
    margin:3px;
    margin-left: 100px;
    position: absolute;
}

.name{
    margin: 3px;
    padding: 3px;
    transform: translatex(-20em);

}

.feed{
    margin-top: 20px;
}

#navigation
{
  margin-left: 20%; 
}


.navbar{
    
   
    
}


.top-nav{
    background: #B8B894;
 
        
}
/*  for right and left spaces in the navigation bar &buttons  */
.nav-wrapper{
  /*  padding:0 85px;*/
}

.navbar-nav{
    float:right;
}

.navbar-brand
{
 
}
 

.navbar-nav>li>a{
    
    color:#fff;
    padding-left: 20px;
    font-weight: 700;
    
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
  background-color: dimgray;
    color:blueviolet;
}


.search-content{  
    height: 50px;
    padding-left:22%;
}
/*input[type=text]{
    width: 60%;
    height:100%;
   border-width: 2px;
 
}
*//*button action*/
.btn-general-black{
    
    border-width: 1px;
    border-radius: 0;
    padding: 12px 10px 12px 10px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    
}

.btn-black{

    color: #DAA520;
    
}
.btn-black:hover, .btn-white:focus{
    background-color:#F0E68C; 
    color:#000;
}

/*ending of navigation  */


/*
          Question answer part              */


/********************************************
default values:
    font family       : Roboto Condensed 
    greenish blue     : #34c6d3 (buttons,icons,links,lines,backgrouds)
    steel gray        : #41464b (heading)
    blue bayoxe       : #64707b (paragraphs)
    white             : #fff (text with black background)
    black             : #000
    
34c6d3
362828
********************************************/



p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

/***************************************************************
        NAV_BAR
*****************************************************************/

#navigation_bar {
    float: right;
    background-color: rgba(0, 0, 0, 0.7);

}

/*=================================*/
/* Navigation Styles
/*=================================*/
.cd-nav-trigger {
    position: fixed;
    z-index: 999;
    right: 20px;
    top: 34px;
    height: 54px;
    width: 54px;
    background-color: #2c2c2c;
    border-radius: 50%;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}
.cd-nav-trigger .cd-nav-icon {
    /* icon created in CSS */
    position: absolute;
    z-index: 12;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 22px;
    height: 2px;
    background-color: #ffffff;
}
.cd-nav-trigger .cd-nav-icon::before, .cd-nav-trigger .cd-nav-icon:after {
    /* upper and lower lines of the menu icon */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
    -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
    transition: transform 0.5s, width 0.5s, top 0.3s;
}
.cd-nav-trigger .cd-nav-icon::before {
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
}
.cd-nav-trigger .cd-nav-icon::after {
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
}
.no-touch .cd-nav-trigger:hover .cd-nav-icon::after {
    top: 2px;
}
.no-touch .cd-nav-trigger:hover .cd-nav-icon::before {
    top: -2px;
}
.cd-nav-trigger svg {
    position: absolute;
    top: 0;
    left: 0;
}
.cd-nav-trigger circle {
    /* circle border animation */
    -webkit-transition: stroke-dashoffset 0.4s 0s;
    -moz-transition: stroke-dashoffset 0.4s 0s;
    transition: stroke-dashoffset 0.4s 0s;
}
.navigation-is-open .cd-nav-trigger {
    /* rotate trigger when navigation becomes visible */
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
    /* animate arrow --> from hamburger to arrow */
    width: 50%;
    -webkit-transition: -webkit-transform 0.5s, width 0.5s;
    -moz-transition: -moz-transform 0.5s, width 0.5s;
    transition: transform 0.5s, width 0.5s;
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::after, .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::before {
    top: 0;
}
.navigation-is-open .cd-nav-trigger circle {
    stroke-dashoffset: 0;
    -webkit-transition: stroke-dashoffset 0.4s 0.3s;
    -moz-transition: stroke-dashoffset 0.4s 0.3s;
    transition: stroke-dashoffset 0.4s 0.3s;
}
.cd-nav {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    margin-left: 13em;
    height: 100%;
    width: 80%;
    background-color: #2c2c2c;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.7s;
    -moz-transition: visibility 0s 0.7s;
    transition: visibility 0s 0.7s;
}
.cd-nav .cd-navigation-wrapper {
    /* all navigation content */
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
   
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: -webkit-transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}
.navigation-is-open .cd-nav {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
}
.navigation-is-open .cd-nav .cd-navigation-wrapper {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}
 
.cd-nav .cd-primary-nav {
    margin-top: 90px;
}
.cd-nav .cd-primary-nav a {
    font-size: 21px;
    display: inline-block;
}
.cd-nav .cd-primary-nav a.selected {
    color: #ffffff;
}
.no-touch .cd-nav .cd-primary-nav a:hover {
    color: #ffffff;
}
.cd-nav .cd-contact-info {
    margin-top: 20px;
    margin-bottom: 20px;
}
.cd-nav .cd-contact-info li {
    margin-bottom: 0.5em;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.3);
}
.cd-nav .cd-contact-info a {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.3);
}
.cd-nav .cd-contact-info a:hover {
    color: #ffffff;
    color: rgba(255, 255, 255, 1);
}
.cd-nav .cd-contact-info span {
    display: block;
}
.cd-nav .cd-contact-info li, 
.cd-nav .cd-contact-info a, 
.cd-nav .cd-contact-info span {
    font-size: 18px;
}

.cd-nav .cd-contact-socials li {
    line-height: 1.8;
}
.cd-nav .cd-contact-socials a {
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px
}
.cd-nav .cd-contact-socials a:hover {
    color: #fff;
}
.no-js main {
    height: auto;
    overflow: visible;
}

.no-js .cd-nav {
    position: static;
    visibility: visible;
}
.no-js .cd-nav .cd-navigation-wrapper {
    height: auto;
    overflow: visible;
    padding: 100px 5%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}


/***************************************************************
        NAV_BAR
*****************************************************************/


/***************************************************************
        ASK A QU100ION
*****************************************************************/
#section_for_asking_a_question{
    height: 260px;
}

#for-question-ask
{
    /*padding-top: 20px;*/
    height: 50%;
    padding-left: 10%;
}

textarea {
    width: 60%;
    height: 150px;
    box-sizing: border-box;
    border: 4px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 10px;
    resize: none;
    outline: none;
    
}

textarea:focus {
    height: 200%;
}



